<!DOCTYPE html>
<html>
  <head>
    <title>Electron</title>
    <link href="../external/css/bootstrap.min.css" rel="stylesheet" />
    <link href="home.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <div class="main">
          
          <div id="images"></div>
          
      </div>
<!--      
      <img src="../external/img/ajax-loader.gif" alt=""  data-bind="visible: files().length===0">
    -->
      <footer>
      </footer>
    </div>
  </body>
  <!--<script src="../external/js/bootstrap.min.js"></script>-->
  <script src="../bower_components/react/react.js"></script>
  <script src="./build/index.js"></script>
</html>