<!DOCTYPE html>
<html>
  <head>
    <title>Electron</title>
    <link href="home.css" rel="stylesheet" />
    <link href="../external/css/bootstrap.css" rel="stylesheet" />
  </head>
  <body>
    <div class="window">
      
     <nav class="navbar navbar-default">
       <div class="container-fluid">
         <div class="navbar-header">
           <a href="#" class="navbar-brand">
             Wooo!
           </a>
         </div>
         <div class="collapse navbar-collapse pull-right">
          <button type="button" class="btn btn-default navbar-btn">Refresh</button>
         </div>
       </div>
     </nav>
      
      <div class="window-content main">
          <div id="images"></div>
      </div>

    </div>
  </body>
  <script src="../bower_components/react/react.js"></script>
  <script src="./build/index.js"></script>
</html>