<!DOCTYPE html>
<html>
  <head>
    <title>Electron</title>
    <link href="home.css" rel="stylesheet" />
    <link href="../external/photon/css/photon.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="window">
      <!--<header class="toolbar toolbar-header">
        <h1 class="title">Header</h1>
      </header> -->
      <div class="window-content main">
          
          <div id="images"></div>
          
      </div>
<!--      
      <img src="../external/img/ajax-loader.gif" alt=""  data-bind="visible: files().length===0">
    -->
      <footer>
      </footer>
    </div>
  </body>
  <script src="../bower_components/react/react.js"></script>
  <script src="./build/index.js"></script>
</html>